{% extends '_base.html' %}

{% block main %}
<h1>CreateComputers</h1>
<h2>Computer@{{computer_id}}</h2>
<br>
<h3>Control</h3>
<h4>Boot</h4>
{% if running %}
    <a href="/device/computer/{{ web }}/stop">Stop computer</a>
{% else %}
    <a href="/device/computer/{{ web }}/start">Start computer</a>
{% endif %}
<br>
<h3>Files</h3>
<h4>View</h4>
<a href="/device/computer/{{ web }}/files/">View Files</a>
<h4>Upload</h4>
<form action="/device/computer/{{ web }}/upload" method="post">
    <label>Path <input type="text" name="path" minlength="1" required></label>
    <label>File <input type="file" name="file" required></label>
    <input type="submit" value="Upload">
</form>
{% endblock %}
